@model CinemaWeb.Models.Hall

@{
    ViewData["Title"] = "Деталі";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-header bg-info text-white">
                <h4 class="mb-0">Інформація про зал</h4>
            </div>
            <div class="card-body">
                <dl class="row mb-0">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-8 fw-bold">
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Capacity)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Capacity) місць
                    </dd>
                </dl>
            </div>
            <div class="card-footer">
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Редагувати</a>
                <a asp-action="Index" class="btn btn-secondary">Назад до списку</a>
            </div>
        </div>
    </div>
</div>