.movie-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    border: 1px solid #495057;
    overflow: hidden;
}

    .movie-card:hover {
        transform: translateY(-7px);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6) !important;
        border-color: #ffc107 !important;
    }

.movie-poster {
    height: 380px;
    object-fit: cover;
    width: 100%;
    transition: transform 0.5s ease;
}

.movie-card:hover .movie-poster {
    transform: scale(1.03);
}

.movie-price-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.9rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    z-index: 10;
}

.movie-overlay {
    background: linear-gradient(to top, rgba(0,0,0,0.9), transparent);
}

/* Стилі архіву */
.movie-card-archived {
    filter: grayscale(100%);
    opacity: 0.6; 
    border-color: #6c757d !important;
}

    .movie-card-archived:hover {
        filter: grayscale(0%);
        opacity: 1;
        transform: none;
        box-shadow: none !important;
        border-color: #6c757d !important;
    }
